{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type='text/css' rel="stylesheet" href='{% static "css/style_login.css" %}' />
    
    <title>Iniciar sesion</title>
</head>
<body>
  <div class="login">
    <div class="login-head">
      <h1>Inicio de sesión</h1>  
    </div>

    <div class="form-login">
    <form method="post">
        {% csrf_token %}
        <div class="user">
          <label for="usuario">Usuario</label>
          <input type="text" name="username">
        </div>
        <div class="user">
          <label for="pass">Contraseña</label>
          <input type="password" name="password">
        </div>
      <button type="submit">Iniciar sesión</button>
    </form>
  </div>
  </div>


</body>
</html>