{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type='text/css' rel="stylesheet" href="{% static 'css/login_styles.css' %}" />
    <title>Iniciar sesion</title>
</head>

<body>
  <div class="login">
    <div class="login-head">
      <h1>Inicio de sesión</h1>  
    </div>

    <div class="form-login">
    <form method="post">
        {% csrf_token %}
        <div class="user">
          <input  type="text" name="username" placeholder=" " class="input-user">
          <label class="cUser" for="usuario">
            <span class="txt-user"><br>Usuario</br></span>
          </label>
        </div>
        <div class="user">
          <input  type="password" name="password" placeholder=" ">
          <label class="cUser" for="pass">
            <span class="txt-user">Contraseña</span>
          </label>
        </div>
      <button class="boton" type="submit">Ingresar</button>
    </form>
  </div>
  </div>


</body>
</html>