{% extends 'base/base.html' %}
{% load static %}

{% block head %}

<link href="{% static 'css/home_styles.css' %}" rel="stylesheet" type="text/css">
<script src="{% static 'js/team_selecter.js' %}"></script>

{% endblock %}


{% block content %}

<section class="banner contenido">

    <div class="card" style="width: 18rem">

        <img src="{% static 'images/logos/imagen_equipo_0.png' %}" id="imagen-equipo-A" class="card-img-top" height="220px" width="200px">
    
        <div class="card-body">
    
            <form method="get">
                {% csrf_token %}
    
                <select class="buscador-equipos" id="equipoA" onchange="change_img();">
                    {% for equipo in equipos %}
                        
                        <option value="{{ equipo.id_equipo }}">{{ equipo }}</option>
                        
                    {% endfor %}
                </select>
        
        </div>
    
    </div>
    
        
    <div>    
        <button type="submit" class="btn btn-danger">VS</button>
    </div>
    
    
    
    <div class="card" style="width: 18rem">
        
        <img src="{% static 'images/logos/imagen_equipo_40.png' %}" id="imagen-equipo-B" class="card-img-top" height="220px" width="200px">
    
        <div class="card-body">
                
    
                <select class="buscador-equipos" id="equipoB" onchange="change_imgB();">
    
                    {% for equipo in equipos %}
                        
                        <option value="{{ equipo.id_equipo }}" selected>{{ equipo }}</option>
                        
                    {% endfor %}

                </select>
    
            
            </form>
    
        </div>
    
    </div>    
    
    </section>
    

    

{% endblock %}