{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
      
    <title>Home</title>

</head>
<body>
    <a href="{% url 'logout' %}">Cerrar sesión</a>

    <form method="GET">
    
        Equipo 1
        <p  id="parrafo"></p>
        
        
        <div>

            <img src="{% static 'images/logos/imagen_equipo_0.png' %}" height="100" width="100" id="imagen-equipo-A">

        </div>
        

        <select class="buscador-equipos" id="equipoA" onchange="change_image();">
            {% for equipo in equipos %}
                
                <option value="{{ equipo.id_equipo }}">{{ equipo }}</option>
                
            {% endfor %}
        </select>
    
    <div>    
        <button type="submit">VS</button>
    </div>
    
        Equipo 2

        
        <div>

                <img src="{% static 'images/logos/imagen_equipo_40.png' %}" height="100" width="100" id="imagen-equipo-B">

        </div>>
        

        <select class="buscador-equipos" id="equipoB" onchange="change_imageB();">
            {% for equipo in equipos %}
                
                <option value="{{ equipo.id_equipo }}" selected>{{ equipo }}</option>
                
            {% endfor %}
        </select>
        
    </form>

    <script src="{% static 'js/team_selecter.js' %}"></script>

</body>
</html>

