#contenedor{
    position: absolute;
    padding: 15px 0;
    background-color: rgb(145, 0, 0, 0.890);
    right: 10%;
    top: 18%;
    width: 80%;    
    height: 80%;
}


.container{
    height: 12%;
}

.container h1{
    position: absolute;
    left: 7%;
    top: 7%;
    color: rgb(230, 230, 230);
    font-family:Georgia, 'Times New Roman', Times, serif
}

.container h3{
    position: absolute;
    left: 70%;
    top: 8%;
    color: rgb(230, 230, 230);
    font-family:Georgia, 'Times New Roman', Times, serif
}

.container input{
    position: absolute;
    left: 79%;
    top: 8.5%;
}

.container button{
    position: absolute;
    left: 92%;
    top: 8.5%;
}

.juegos{
    display: flex;
    align-items:center;
    height: 26%;
    margin: 2%;
}

.juegos h6{
    position: relative;
    color: rgb(230, 230, 230);
}

.home{
    position: absolute;
    height: 25%;
    width: 20%;
    text-align:center;
}

.visitor{
    position: absolute;
    height: 25%;
    width: 20%;
    left: 85%;
    text-align:center;
}

.juegos img{
    position: relative;
    height: 100%;
    width: 45%;
    padding: 2%;
}

.partidos{
    position: absolute;
    top: 16%;
    left: 4.8%;
    height: 75%;
    width: 90%
}

.estado-juego{
    position: relative;
    text-align: center;
    left: 28%;
    background-color: rgb(300, 300, 300, 0.2);
    border-radius: 3%;
    height: 100%;
    width: 50%;
}

.estado-juego h2{
    position: relative;
    top: 5%;
}

.estado-juego span{
    font-size: x-large;
    justify-content: space-around;
}

.paginacion{
    position: absolute;
    top: 91%;
    left: 85%;
}
