*{
    margin:0;
    padding:0;
}

.card{
    background: linear-gradient(50deg, rgb(3, 3, 221), rgb(0, 0, 0), rgba(145, 0, 0, 0.992));
    height: 60%;
}

.card-body{
    margin: 10.5%;
}

.card:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.card img{
    padding: 5%;
}

.buscador-equipos{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenido{
    width: 65%;
    max-width: 1200px;
    align-items: center;
    margin: auto;
}

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 80%;
}

.btn-danger{
    position: relative;
    padding: 15px 0;
    background-color: rgb(160, 14, 14);
    width: 100px;
    height: 100px;
    font-size: 30px;
}

.btn-danger:hover{
    background-color: rgb(160, 14, 14);
    transform: scale(1.1);
    transition: 0.5s;
}

