{% extends 'base/base.html' %}
{% load static %}

{% block head %}

<link rel="stylesheet" type="text/css" href="{% static 'css/calendario_styles.css' %}">

{% endblock %}


{% block content %}
    
    <section id="contenedor">
        <header class="container">
            <br><h1>Calendario de juegos</h1></br>
            <br><h3>Fecha:</h3></br>

            <form action="/calendario/" method="GET">
                <input type="date" value={{fecha_hoy}} name="date">
                <button type="submit">Buscar</button>
            </form>

        </header>
        <div class="partidos">

            {% for juego in juegos %}
                
                <div class="juegos">

                    <div class="home">

                        {% for equipo_1 in equipos %}

                            {% if equipo_1.id_equipo == juego.get_id_home_team %}

                                <img src="{{juego.imprimir_imagen_home}}"/>

                                <h6> {{equipo_1.nombre}} </h6>
                                
                            {% endif %}

                        {% endfor %}

                    </div>

                        <div class="estado-juego">

                            {% if juego.partido_en_juego %}

                                <h2>En juego</h2>

                                {% if juego.score_home > juego.score_visitor %}
                            
                                <span style="color:blue;">{{juego.score_home}}</span> 
                                <span>-</span> 
                                <span style="color:red;">{{juego.score_visitor}}</span>

                                {% else %}

                                <span style="color:red;">{{juego.score_home}}</span>
                                <span>-</span> 
                                <span style="color:blue;">{{juego.score_visitor}}</span>

                                {% endif %}
                        

                            {% elif juego.partido_terminado %}
                                

                                <h2>Terminado</h2>
                            
                                {% if juego.score_home > juego.score_visitor %}
                            
                                    <span style="color:blue;">{{juego.score_home}}</span> 
                                    <span>-</span> 
                                    <span style="color:red;">{{juego.score_visitor}}</span>

                                {% else %}

                                    <span style="color:red;">{{juego.score_home}}</span>
                                    <span>-</span> 
                                    <span style="color:blue;">{{juego.score_visitor}}</span>

                                {% endif %}

                    

                            {% else %}


                                <h2>Por jugar</h2>
                            
                                <h4>{{juego.get_hour}}</h4>


                            {% endif %}


                        </div>

                    <div class="visitor">

                        {% for equipo_2 in equipos %}

                            {% if equipo_2.id_equipo == juego.get_id_visitor_team %}

                                <img src="{{juego.imprimir_imagen_visitor}}" height="50px" width="50px" />
                                <h6> {{equipo_2.nombre}} </h6>

                                
                            {% endif %}

                        {% endfor %}

                    </div>

                </div>
            
            {% endfor %}

        </div>

        <div class="paginacion">

            <ul class="pagination">

                {% if juegos.has_previous %}
                    <li class="page-item">
                        <a href="?page={{juegos.previous_page_number}}&date={{fecha_hoy}}" class="page-link">Previo</a>
                    </li>

                {% else %}
                    <li class="page-item">
                        <a class="page-link disabled" disabled>Previo</a>
                    </li>
                {% endif %}

                {% if juegos.has_next %}
                    <li class="page-item">
                        <a href="?page={{juegos.next_page_number}}&date={{fecha_hoy}}" class="page-link">Siguiente</a>
                    </li>

                {% else %}
                    <li class="page-item">
                        <a class="page-link disabled" disabled>Siguiente</a>
                    </li>
                {% endif %}

            </ul>

        </div>

    </section>

{% endblock %}